* {
  font-family: 'Yeseva One';
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__title {
  font-family: "Marck Script";
  font-size: 2.3rem;
  text-align: center;
}

.container__par {
  text-align: center;
  padding: 10px;
}

.divider--red {
  width: 250px;
  height: 24px;
  background: url("../img/Divider-red.png");
  display: block;
  margin: 0 auto;
}

#home {
  color: #fff;
  background: url("../img/header.jpg");
  background-color: rgba(0, 0, 0, 0.44);
  background-size: cover;
  height: 700px;
}

#home .logo {
  height: 100px;
  width: 200px;
}

#home .navbar__burger {
  display: none;
}

#home .home__nav {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#home .home__nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100px;
  line-height: 24px;
}

#home .home__nav .nav .nav__item {
  padding: 10px;
}

#home .home__nav .nav .nav__item:hover {
  color: #fb5231;
}

#home .home__nav .links {
  line-height: 100px;
}

#home .home__nav .links .fab {
  padding: 0 5px;
}

#home .home__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home__container .home__title {
  font-size: 5.5rem;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
  opacity: 0.9;
  padding: 0 5px;
}

#home .home__container .home__divider {
  background: url("../img/hr.png");
  height: 43px;
  width: 230px;
  margin: 20px;
  display: block;
}

#home .home__container .home__button {
  width: 228px;
  height: 57px;
  color: white;
}

#home .home__container .home__button--red {
  background: url("../img/buttonred.png");
  border-style: none;
  margin-right: 15px;
}

#home .home__container .home__button--transparent {
  background: url("../img/buttonwhite.png");
}

.about {
  height: 710px;
  background-size: cover;
  background-image: url("../img/aboutbg.png");
  position: relative;
}

.about .about--background {
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(-43deg, rgba(1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
  width: 100%;
  height: 710px;
  z-index: -1;
  display: block;
}

.about .about__container {
  height: 660px;
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .about__container .about__title {
  color: #fb5231;
  font-size: 3rem;
}

.about .about__container .about__par {
  max-width: 500px;
  font-size: 1.3rem;
}

.about .about__container .about__img {
  height: 253px;
  width: 249px;
  margin-left: 100px;
}

#ingredients .ingredients__container {
  height: 750px;
  color: #ffffff;
}

#ingredients .ingredients__container .ingredients__container--sushi {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ingredients .ingredients__container .ingredients__container--sushi .sushi__image {
  max-width: 100%;
  height: auto;
}

#ingredients .ingredients__container .ingredients__container--fine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 12% 0;
  background: url("../img/redbg.png");
  background-size: cover;
}

#ingredients .ingredients__container .ingredients__container--fine .fine__divider {
  width: 247px;
  height: 24px;
  background: url("../img/finedivider.png");
  display: block;
  margin: 0 auto;
}

#ingredients .ingredients__container .ingredients__container--fine .fine__par {
  width: 70%;
}

#menu {
  height: 1000px;
  background-color: #1a1f3b;
  color: #ffffff;
}

#menu .menu__container {
  padding-top: 50px;
}

#menu .menu__container .menu__container--single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  height: 900px;
}

#menu .menu__container .menu__container--single .menu__image--fish {
  position: absolute;
  top: 40%;
  left: 0;
}

#menu .menu__container .menu__container--single .menu__image--meat {
  position: absolute;
  top: 30%;
  right: 0;
}

#menu .menu__container .menu__container--single .menu__title {
  padding-top: 35px;
  padding-bottom: 15px;
}

#menu .menu__container .menu__container--single .menu__dishes {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #586b89;
  width: 70%;
}

#menu .menu__container .menu__container--single .menu__dishes .menu__dishes--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}

#menu .menu__container .menu__container--single .menu__dishes .menu__dishes--description {
  font-size: 0.8rem;
  font-family: "Montserrat";
  font-weight: 200;
  padding-top: 5px;
}

#reviews {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#reviews .reviews__container {
  height: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

#reviews .reviews__container .reviews__par {
  width: 55%;
}

#reservations {
  height: 700px;
  position: relative;
  background-image: url("../img/resbg.jpg");
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

#reservations .reservation__background {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

#reservations .reservation__background--fork {
  left: 2%;
}

#reservations .reservation__background--sushi {
  right: 2%;
}

#reservations .reservation__container {
  height: 100%;
}

#reservations .reservation__container--images {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#reservations .reservation__container--images .food {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reservations .reservation__container--images .food__cake,
#reservations .reservation__container--images .food__pasta {
  padding: 10px;
  z-index: 2;
  width: 50%;
  height: 90%;
}

#reservations .reservation__container--booking-form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

#reservations .reservation__container--booking-form .reservation__title {
  color: #fb5231;
}

#reservations .reservation__container--booking-form .reservation__par {
  width: 55%;
}

#reservations .reservation__container--booking-form .reservation__form {
  padding-top: 60px;
}

#reservations .reservation__container--booking-form .reservation__form .book-now {
  float: left;
  padding: 10px;
}

#reservations .reservation__container--booking-form .reservation__form .book-now__label {
  color: #fb5231;
}

#reservations .reservation__container--booking-form .reservation__form .book-now__input,
#reservations .reservation__container--booking-form .reservation__form .book-now__select {
  display: block;
  width: 200px;
  font-style: italic;
  font-family: "Montserrat";
  height: 36px;
  padding-left: 5px;
  font-size: 0.9rem;
  -webkit-box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.05);
          box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.05);
  border-radius: 0;
  background: url("../img/resbutt.png");
  -webkit-appearance: none;
  color: #a9a4a4;
}

#reservations .reservation__container--booking-form .reservation__button {
  background-color: #fb5231;
  border-style: none;
  width: 228px;
  height: 57px;
  margin-top: 40px;
  color: #ffffff;
}

#footer {
  height: 300px;
  background: url("../img/footerbg.png");
  color: #e3e6e6;
}

#footer .footer__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  padding: 20px;
}

#footer .footer__phone {
  text-align: center;
}

#footer .footer__par,
#footer .media__par {
  font-size: 1.2rem;
  color: #969595;
  letter-spacing: 0.72px;
  padding-top: 15px;
  text-align: center;
}

#footer .fab {
  font-size: 1.6rem;
  padding: 10px;
  background-color: #1a1e36;
  color: #969595;
  cursor: pointer;
  z-index: 21;
  position: relative;
  border-radius: 50%;
}

#footer .fab:hover {
  background: #fb5231;
  color: #ffffff;
}

#footer .fas {
  font-size: 1.6rem;
  text-align: center;
  display: block;
}

#footer .footer__media {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .footer__media .media {
  text-align: center;
  padding-top: 10px;
}

#footer .footer__media .media__par {
  text-transform: uppercase;
}

@media (max-width: 992px) {
  #home .links {
    display: none;
  }
  #menu .menu__image--fish,
  #menu .menu__image--meat {
    max-width: 100%;
    height: auto;
  }
  #reservations {
    height: 500px;
  }
  #reservations .reservation__container--booking-form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto;
    height: 90%;
  }
  #reservations .reservation__container--images {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  #reservations .reservation__container--images .food__cake,
  #reservations .reservation__container--images .food__pasta {
    display: none;
  }
}

@media (max-width: 768px) {
  #home .home__nav {
    position: absolute;
    width: 100%;
  }
  #home .home__nav .nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    position: fixed;
    right: 40px;
    top: 20px;
    text-align: right;
    height: 270px;
    width: 150px;
    z-index: 100;
    border-radius: 7%;
    background: rgba(0, 0, 0, 0.9);
  }
  #home .home__nav .nav.open {
    display: block;
    clear: both;
  }
  #home .home__nav .navbar__burger {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 40px;
    right: 40px;
    position: fixed;
  }
  #home .home__container {
    padding-top: 180px;
  }
  #home .home__container .home__title {
    font-size: 4rem;
    text-align: center;
  }
  #home .home__buttons {
    padding-top: 30px;
  }
  #about .about__container .about__par {
    font-size: 1rem;
  }
  #ingredients .ingredients__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 850px;
  }
  #ingredients .ingredients__container .ingredients__container--sushi {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  #ingredients .ingredients__container .ingredients__container--fine {
    padding-top: 9%;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  #ingredients .ingredients__container .ingredients__container--fine .fine__par {
    font-size: 0.9rem;
  }
  #ingredients .ingredients__container .ingredients__container--fine .fine__title,
  #ingredients .ingredients__container .ingredients__container--fine .fine__par {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  #home .home__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #home .logo {
    width: 120px;
    height: 80px;
    margin-left: 40px;
    margin-top: 10px;
  }
  #home .navbar__burger {
    top: 34px;
  }
  #home .home__container .home__title {
    font-size: 3.5rem;
    margin-top: -40px;
  }
  #home .home__container .home__buttons {
    text-align: center;
  }
  #home .home__container .home__button {
    height: 50px;
    width: 190px;
    margin: 5px;
  }
  #about .about__img {
    width: 60%;
    height: auto;
  }
  #ingredients .ingredients__container .ingredients__container--sushi {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  #ingredients .ingredients__container .ingredients__container--fine {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  #ingredients .ingredients__container .ingredients__container--fine .fine__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #ingredients .ingredients__container .ingredients__container--fine .fine__images .fine__image {
    width: 25%;
    height: 80%;
  }
  #menu {
    height: 1900px;
  }
  #menu .menu__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #menu .menu__container .menu__container--single .menu__dishes {
    width: 95%;
  }
  #reviews {
    height: 550px;
  }
  #reviews .reviews__container {
    width: 90%;
    height: 90%;
  }
  #reservations {
    height: 800px;
  }
  #reservations .reservation__background--fork {
    left: 25%;
  }
  #reservations .reservation__background--sushi {
    display: none;
  }
  #reservations .reservation__container--booking-form .reservation__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer {
    height: 450px;
  }
  #footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .footer__phone,
  #footer .footer__media,
  #footer .footer__address {
    padding-top: 20px;
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */